*{
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	color: #333;
	line-height: 1.5;
}

img{
	width: 100%;
}

body{
	background-color: #eee;
}

header{
	height: 100%;
	max-width: 100%;
	max-height: 100vh;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

header>p{
	position: absolute;
	color: #fafafa;
	font-size: 40px;
	
	width: 100%;
	height: 100%;
	
	display: flex;
    justify-content: center;
    align-items: center;
}

body>div{
	width: 90%;
	max-width: 800px;
	margin: auto;
	margin-top: 1em;
}

div>div{
	margin-top: 1em;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

article{
	width: 23%;
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
}

article>p{
	position: absolute;
	bottom: -100%;
	
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
	transition: bottom 400ms ease-out;
}

article>p>a{
	color: #fafafa;
}

footer{
	height: 40px;
	width: 100%;
	background-color: #494949;
	margin-top: 1em;
}

footer>p{
	width: 90%;
	max-width: 800px;
	margin: auto;
	
	height: 100%;
	
	display: flex;
    justify-content: space-between;
    align-items: center;
}

footer>p>a, footer>p>a>b{
	color: #fafafa;
}

@media screen and (min-width: 1000px) {
	header>p{font-size: 60px;}
}